USE [master]
GO
/****** Object:  Database [FinalProject]    Script Date: 5/25/2025 12:30:53 AM ******/
CREATE DATABASE [FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProject]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NULL,
	[RoomID] [int] NULL,
	[Weekday] [varchar](20) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[LearningGroupID] [int] NULL,
	[InstructorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RaportOrarKlasa]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RaportOrarKlasa] AS
SELECT 
    r.RoomName, 
    su.SubjectName, 
    s.Weekday, 
    s.StartTime, 
    s.EndTime
FROM Schedule s
JOIN Room r ON s.RoomID = r.RoomID
JOIN Subject su ON s.SubjectID = su.SubjectID;
GO
/****** Object:  Table [dbo].[AcademicYear]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicYear](
	[AcademicYearID] [int] IDENTITY(1,1) NOT NULL,
	[YearName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AcademicYearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Role] [varchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[BirthDate] [date] NULL,
	[Gender] [varchar](10) NULL,
	[Address] [varchar](255) NULL,
	[Email] [varchar](100) NULL,
	[HashedPassword] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningGroups]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningGroups](
	[LearningGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](100) NULL,
	[AcademicYearID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LearningGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupStudents]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupStudents](
	[GroupStudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[LearningGroupID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupStudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentGrup]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[StudentGrup] AS
SELECT lg.GroupName,ay.YearName,u.FirstName ,u.LastName,u.Email
FROM LearningGroups lg
JOIN AcademicYear ay ON lg.AcademicYearID = ay.AcademicYearID
JOIN GroupStudents gs ON lg.LearningGroupID = gs.LearningGroupID
JOIN Users u ON gs.studentID = u.userID
WHERE u.Role = 'student';
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructorInfo]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorInfo](
	[InstructorInfoID] [int] IDENTITY(1,1) NOT NULL,
	[InstructorID] [int] NULL,
	[SubjectID] [int] NULL,
	[LearningGroupID] [int] NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Pedagog]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[Pedagog] AS
--raport pedagog
SELECT u.FirstName, u.LastName, u.Email, d.DepartmentName, s.SubjectName
FROM Users u
JOIN InstructorInfo i ON i.InstructorID = u.userID  
JOIN Subject s ON s.SubjectID = i.SubjectID           
JOIN Department d ON d.departmentID = i.DepartmentID    
WHERE u.Role = 'pedagog';
GO
/****** Object:  View [dbo].[Orari]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Orari] as
--raport orar klasa
SELECT r.RoomName, su.SubjectName, s.Weekday, s.StartTime, s.EndTime
FROM Schedule s
JOIN Room r ON s.RoomID = r.RoomID
JOIN Subject su ON s.SubjectID = su.SubjectID;
GO
/****** Object:  Table [dbo].[StudentCard]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCard](
	[StudentCardID] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [varchar](50) NULL,
	[StudentID] [int] NULL,
	[AcademicYearID] [int] NULL,
	[LearningGroupID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[InstructorID] [int] NULL,
	[SubjectID] [int] NULL,
	[AttendanceDate] [date] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Frekuentimi]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Frekuentimi] as
--raport frekuentimi student form
SELECT u.FirstName, u.LastName, sa.CardNumber, v.YearName, a.AttendanceDate, s.SubjectName, a.status
FROM Users u
JOIN GroupStudents gs ON u.userID = gs.studentID
JOIN LearningGroups lg ON gs.LearningGroupID = lg.LearningGroupID
JOIN AcademicYear v ON lg.AcademicYearID = v.AcademicYearID
LEFT JOIN StudentCard sa ON u.userID = sa.studentID
LEFT JOIN Attendance a ON a.studentID = u.userID
LEFT JOIN Subject s ON a.SubjectID = s.SubjectID
LEFT JOIN Users ped ON a.InstructorID = ped.userID
WHERE u.Role = 'student';
GO
/****** Object:  View [dbo].[StudentGroupCardView]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StudentGroupCardView] AS
SELECT
    U.FirstName,
    U.LastName,
    U.Email,
    SC.CardNumber,
    LG.GroupName
FROM
    Users AS U
JOIN
    StudentCard AS SC ON U.UserID = SC.StudentID
JOIN
    LearningGroups AS LG ON SC.LearningGroupID = LG.LearningGroupID
WHERE
    U.Role = 'Student';
GO
/****** Object:  View [dbo].[DailyStudentAttendanceReport]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DailyStudentAttendanceReport] AS
SELECT
    U.UserID,
    U.FirstName,
    U.LastName,
    U.Email,
    LG.GroupName,
    A.AttendanceDate,
    A.Status,
    A.SubjectID, -- Including SubjectID, in case you later join with a Subjects table
    I.FirstName AS InstructorFirstName, -- To show the instructor's name
    I.LastName AS InstructorLastName
FROM
    Users AS U
JOIN
    Attendance AS A ON U.UserID = A.StudentID
JOIN
    StudentCard AS SC ON U.UserID = SC.StudentID
JOIN
    LearningGroups AS LG ON SC.LearningGroupID = LG.LearningGroupID
LEFT JOIN -- Use LEFT JOIN in case an instructor record is missing or not fully linked
    Users AS I ON A.InstructorID = I.UserID -- Join Users again for Instructor details
WHERE
    U.Role = 'Student'; -- Ensures we only report on students
GO
/****** Object:  Table [dbo].[OpenSessions]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpenSessions](
	[OpenSessionID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[InstructorID] [int] NULL,
	[OpenTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OpenSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[GroupStudents]  WITH CHECK ADD FOREIGN KEY([LearningGroupID])
REFERENCES [dbo].[LearningGroups] ([LearningGroupID])
GO
ALTER TABLE [dbo].[GroupStudents]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InstructorInfo]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[InstructorInfo]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InstructorInfo]  WITH CHECK ADD FOREIGN KEY([LearningGroupID])
REFERENCES [dbo].[LearningGroups] ([LearningGroupID])
GO
ALTER TABLE [dbo].[InstructorInfo]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[LearningGroups]  WITH CHECK ADD FOREIGN KEY([AcademicYearID])
REFERENCES [dbo].[AcademicYear] ([AcademicYearID])
GO
ALTER TABLE [dbo].[OpenSessions]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OpenSessions]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([LearningGroupID])
REFERENCES [dbo].[LearningGroups] ([LearningGroupID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[StudentCard]  WITH CHECK ADD FOREIGN KEY([AcademicYearID])
REFERENCES [dbo].[AcademicYear] ([AcademicYearID])
GO
ALTER TABLE [dbo].[StudentCard]  WITH CHECK ADD FOREIGN KEY([LearningGroupID])
REFERENCES [dbo].[LearningGroups] ([LearningGroupID])
GO
ALTER TABLE [dbo].[StudentCard]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[LoadStudentCard]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LoadStudentCard
CREATE PROCEDURE [dbo].[LoadStudentCard]
AS
BEGIN
    SELECT  u.UserID, u.FirstName, u.LastName, u.Email, u.PhoneNumber, sa.CardNumber, lg.GroupName, v.YearName
    FROM Users u
    JOIN GroupStudents gs ON u.userID = gs.StudentID
    JOIN LearningGroups lg ON gs.LearningGroupID = lg.LearningGroupID
    JOIN AcademicYear v ON lg.AcademicYearID = v.AcademicYearID
    LEFT JOIN StudentCard sa ON u.UserID = sa.StudentID
    WHERE u.Role = 'student';
END

GO
/****** Object:  StoredProcedure [dbo].[SelectPlanMesimor]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectPlanMesimor]
AS
BEGIN
    SELECT s.ScheduleID, su.SubjectName, r.RoomName , s.Weekday , s.StartTime ,s.EndTime, lg.GroupName, u.FirstName 
    FROM  Schedule s
    JOIN Subject su ON s.SubjectID = s.SubjectID
    JOIN Room r ON s.RoomID = r.RoomID
    JOIN LearningGroups lg ON s.LearningGroupID = lg.LearningGroupID
    JOIN Users u ON s.InstructorID = u.UserID
    WHERE u.Role = 'pedagog';
END;
GO
/****** Object:  StoredProcedure [dbo].[ShtoDepartamentControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ShtoDepartamentControl
CREATE PROCEDURE [dbo].[ShtoDepartamentControl]
    @DepartmentID INT,
    @DepartmentName NVARCHAR(100),
    @Status NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT * FROM Department WHERE DepartmentID = @DepartmentID)
    BEGIN
        UPDATE Department
        SET 
            DepartmentName = @DepartmentName, 
            Status = @Status
        WHERE DepartmentID = @DepartmentID;
    END
    ELSE
    BEGIN
        INSERT INTO Department 
            (DepartmentName, Status)
        VALUES 
            (@DepartmentName, @Status);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShtoGrupControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ShtoGrupControl
CREATE PROCEDURE [dbo].[ShtoGrupControl]
    @AcademicYearID INT,
    @GroupName NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT * FROM LearningGroups WHERE AcademicYearID = @AcademicYearID AND GroupName = @GroupName)
    BEGIN
        UPDATE LearningGroups
        SET GroupName = @GroupName
        WHERE AcademicYearID = @AcademicYearID AND GroupName = @GroupName;
    END
    ELSE
    BEGIN
        INSERT INTO LearningGroups(AcademicYearID, GroupName)
        VALUES (@AcademicYearID, @GroupName);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShtoLendeControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShtoLendeControl]
    @SubjectID INT,
    @SubjectName NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Subject WHERE SubjectName = @SubjectName)
    BEGIN
        RAISERROR('Lende me kete emer ekziston.', 16, 1);
        RETURN;
    END
    IF EXISTS (SELECT 1 FROM Subject WHERE SubjectID = @SubjectID)
    BEGIN
        UPDATE Subject
        SET SubjectName = @SubjectName
        WHERE SubjectID = @SubjectID;
    END
    ELSE
    BEGIN
        INSERT INTO Subject(SubjectName)
        VALUES (@SubjectName);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[ShtoOrarControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ShtoOrarControl
CREATE PROCEDURE [dbo].[ShtoOrarControl]
    @ScheduleID INT,
    @SubjectID INT,
    @RoomID INT,
    @Weekday VARCHAR(20),
    @StartTime VARCHAR(5),
    @EndTime VARCHAR(5),
    @LearningGroupID INT,
    @InstructorID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Schedule WHERE ScheduleID = @ScheduleID)
    BEGIN
        UPDATE Schedule
        SET SubjectID = @SubjectID,
            RoomID = @RoomID,
            Weekday = @Weekday,
            StartTime = @StartTime,
            EndTime = @EndTime,
            LearningGroupID = @LearningGroupID,
            InstructorID = @InstructorID
        WHERE ScheduleID = @ScheduleID;
    END
    ELSE
    BEGIN
        INSERT INTO Schedule(SubjectID, RoomID, Weekday, StartTime, EndTime, LearningGroupID, InstructorID)
        VALUES (@SubjectID, @RoomID, @Weekday, @StartTime, @EndTime, @LearningGroupID, @InstructorID);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[ShtoPedagogLende]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--shtopedagoglende
CREATE PROCEDURE [dbo].[ShtoPedagogLende]
    @InstructorID INT,
    @SubjectID INT,
    @LearningGroupID INT,
    @DepartmentID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM InstructorInfo WHERE InstructorID = @InstructorID)
    BEGIN
        -- Update record
        UPDATE InstructorInfo
        SET SubjectID = @SubjectID, LearningGroupID = @LearningGroupID, DepartmentID = @DepartmentID
        WHERE InstructorID = @InstructorID;
    END
    ELSE
    BEGIN
        -- Insert new record
        INSERT INTO InstructorInfo(InstructorID, SubjectID, LearningGroupID, DepartmentID)
        VALUES (@InstructorID, @SubjectID, @LearningGroupID, @DepartmentID);
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[ShtoPlanControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ShtoPlanControl]
    @ScheduleID INT,
    @SubjectID INT,
    @RoomID INT,
    @Weekday NVARCHAR(10),
    @StartTime NVARCHAR(5),
    @EndTime NVARCHAR(5),
    @LearningGroupID INT,
    @InstructorID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Schedule WHERE ScheduleID = @ScheduleID)
    BEGIN
        UPDATE Schedule
        SET 
            SubjectID = @SubjectID, 
            RoomID = @RoomID, 
            Weekday = @Weekday,
            StartTime = @StartTime, 
            EndTime = @EndTime, 
            LearningGroupID = @LearningGroupID, 
            InstructorID = @InstructorID
        WHERE ScheduleID = @ScheduleID;
    END
    ELSE
    BEGIN
        INSERT INTO Schedule(SubjectID, RoomID, Weekday, StartTime, EndTime, LearningGroupID, InstructorID)
        VALUES (@SubjectID, @RoomID, @Weekday, @StartTime, @EndTime, @LearningGroupID, @InstructorID);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[ShtoSallaContol]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ShtoSallaContol
CREATE PROCEDURE [dbo].[ShtoSallaContol]
    @RoomID INT,
    @RoomName NVARCHAR(255)
AS
BEGIN
    IF EXISTS (SELECT * FROM Room WHERE RoomID = @RoomID)
    BEGIN
        UPDATE Room
        SET RoomName = @RoomName
        WHERE RoomID = @RoomID
    END
    ELSE
    BEGIN
        INSERT INTO Room(RoomName)
        VALUES (@RoomName);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShtoStudentCardControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ShtoStudentCardControl]
    @StudentID INT,
    @CardNumber VARCHAR(50),
    @AcademicYearID INT,
    @LearningGroupID INT
AS
BEGIN
    IF EXISTS (SELECT * FROM StudentCard WHERE StudentID = @StudentID)
    BEGIN
        UPDATE StudentCard
        SET CardNumber = @CardNumber, AcademicYearID = @AcademicYearID, LearningGroupID = @LearningGroupID
        WHERE StudentID = @StudentID
    END
    ELSE
    BEGIN
        INSERT INTO StudentCard (CardNumber, StudentID, AcademicYearID, LearningGroupID)
        VALUES (@CardNumber, @StudentID, @AcademicYearID, @LearningGroupID);
    END
END





GO
/****** Object:  StoredProcedure [dbo].[ShtoStudentControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ShtoStudentControl
CREATE PROCEDURE [dbo].[ShtoStudentControl]
    @UserID INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @HashedPassword NVARCHAR(255),
    @PhoneNumber NVARCHAR(15),
    @BirthDate NVARCHAR(255),
    @Gender CHAR(1),
    @Address NVARCHAR(255),
    @Email NVARCHAR(100),
    @Role NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT * FROM Users WHERE UserID = @UserID)
    BEGIN
        UPDATE Users
        SET 
            FirstName = @FirstName,
            LastName = @LastName,
            HashedPassword = @HashedPassword,
            PhoneNumber = @PhoneNumber,
            BirthDate = @BirthDate,
            Gender = @Gender,
            Address = @Address,
            Email = @Email,
            Role = @Role
        WHERE UserID = @UserID;
    END
    ELSE
    BEGIN
        INSERT INTO Users 
            (FirstName, LastName, HashedPassword, PhoneNumber, BirthDate, Gender, Address, Email, Role)
        VALUES 
            (@FirstName, @LastName, @HashedPassword, @PhoneNumber, @BirthDate, @Gender, @Address, @Email, @Role);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ShtoUserControl]    Script Date: 5/25/2025 12:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ShtoUserControl
CREATE PROCEDURE [dbo].[ShtoUserControl]
    @UserID INT,
    @FirstName NVARCHAR(255),
    @LastName NVARCHAR(255),
    @HashedPassword NVARCHAR(255) = NULL,
    @PhoneNumber NVARCHAR(255),
    @BirthDate NVARCHAR(255),
    @Gender CHAR(1),
    @Address NVARCHAR(255),
    @Email NVARCHAR(255),
    @Role NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE UserID = @userID)
    BEGIN
        IF @HashedPassword IS NOT NULL
        BEGIN
            UPDATE Users
            SET 
                FirstName = @FirstName,
                LastName = @LastName,
                HashedPassword = @HashedPassword,
                PhoneNumber = @PhoneNumber,
                BirthDate = @BirthDate,
                Gender = @Gender,
                Address = @Address,
                Email = @Email,
                Role = @Role
            WHERE UserID = @userID;
        END
        ELSE
        BEGIN
            UPDATE Users
            SET 
                FirstName = @FirstName,
                LastName = @LastName,
                HashedPassword = @HashedPassword,
                PhoneNumber = @PhoneNumber,
                BirthDate = @BirthDate,
                Gender = @Gender,
                Address = @Address,
                Email = @Email,
                Role = @Role
            WHERE UserID = @userID;
        END
    END
    ELSE
    BEGIN
        INSERT INTO Users
        (FirstName, LastName, HashedPassword, PhoneNumber, BirthDate, Gender, Address, Email, Role)
        VALUES
        (@FirstName, @LastName, @HashedPassword, @PhoneNumber, @BirthDate, @Gender, @Address, @Email, @Role);
    END
END;

GO
USE [master]
GO
